.padding_bottom {
  padding-bottom: 100px;
}

.default_image_div {
  background-image: url("../images/garage.jpg");
}

.map-canvas {
        height: 350px;
        background-color: #CCC;
        box-shadow: 10px 10px 5px #545454;
        opacity:0.95;
      }

.edit-form {
  background-color: #5cb5d6;
  box-shadow: 7px 7px 5px #545454;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.edit-submit {
  width: 100%;
}

.add-new {
  width: 100%;
  
}

.new_form {
  padding-bottom: 15px;
  padding-top: 15px;
  margin-bottom: 30px;
  background-color: #5cb5d6;
  box-shadow: 10px 10px 5px #545454;
  opacity:0.95; 
  border-radius: 8px;
}


.navbar-default .navbar-brand {
    color: #232323;
}

.salesubmit {
  margin-top: 7px;
}


.post {
  background-color:#5cb5d6;
  height:350px;
  box-shadow: 10px 10px 5px #545454;
  border-bottom-left-radius: 8px;
  opacity: 0.9;
  color:black;
}


.photo {
  background-color:#5cb5d6;
  height:350px;
  box-shadow: 10px 10px 5px #545454;
  border-bottom-right-radius: 8px;
  opacity:0.9;
}

.picture {
  width:100%;
  height: 95%;
  padding-top: 20px;
  border-bottom-right-radius: 8px;
}

.topbar {
  background-color: #5cb5d6;
  height: 30px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 30px;
  font-size: 1.3em;
  box-shadow: 10px 10px 5px #545454;
  opacity:.95;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

h1 {
  padding-top:70px;
  text-align:center;
  padding-bottom: 20px;
}

.title {
  font-size: 3em;
  text-shadow: 1.5px 1.5px #848484;
}

.explain {
  text-align: center;
  padding-bottom: 20px;
}

.address {
  color:black;
}


.logout {
  background: #54eaac;
  border-color:white;
}
.logout:hover {
  background: #6eeacb;
  border-color:white;
}

body {
  font-family: 'Merriweather Sans', sans-serif; 
}

body { 
  background: url("../images/city.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-toggle {
  background-color:#9de0de;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #000; 
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: white; 
background-color: #030033;
}

  .navbar-default {
    background-color: #5cb5d6;
}

  .dropdown-menu > li > a:hover,
   .dropdown-menu > li > a:focus {
    color: #262626;
   text-decoration: none;
  background-color: #66CCFF; 
   }

 .nav > li > a:hover,
 .nav > li > a:focus {
    text-decoration: none;
    background-color: silver; 
  }


  .navbar-default .navbar-nav > li > a {
   color: white; 
    }
