<!-- Users only see this page if they don't have location saved in their session -->

<!--
<p>Click the button to get your coordinates.</p>

<button onclick="getLocation()">Try It</button>

<p id="demo"></p>

<script>
var x = document.getElementById("demo");

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
    }
}

function showPosition(position) {
    x.innerHTML = "Latitude: " + position.coords.latitude + 
    "<br>Longitude: " + position.coords.longitude;  
}
</script>
-->



<h1 class="title">Junkr</h1>
<h3 class="explain">Find Pop-up shops happening now</h3>
<div class="container">
  <div class="row ">
    <div class="new_form col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
      <% if @message %>
        <%= @message %>
      <% end %>
    <form data-toggle="validator" role="form" class="form-inline" method="post" action="/session_location">
      <div class="form-group">
        <label>Where you at?</label>
        <input type="text" class="form-control" name="street_address" value="126 W Hastings" required>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="city" value="Vancouver" required>
      </div>
      <div class="form-group">
        <input type="submit" class="padding-top add-new salesubmit btn btn-primary" value="Submit">
      </div>
    </form>
  </div>
  </div>
</div>

