<h1>Sign up</h1>
<% if @message %>
<div class="error-message"><%= @message %></div>
<% end %>
  
  <form class="form-group" method="post" action="/sign_up">
  
  <div>
    <label>Username:</label>   
    <input type="text" class="form-control" name="username">
  </div>

  <div> 
    <label>Password:</label>
    <input type="password"  class="form-control" name="password">
  </div>
  <div>
    <input type="submit" class="btn btn-default" value="Submit">
  </div>
</form>